* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-style: 'Rubik Dirt', sans-serif;
    background: rgb(75, 200, 242);

}
.app {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
}
.heading {
    font-size: 160px;
    color: beige;
}
#img {
    font-size: 80px;
    margin-top: 5rem;
    margin-bottom: 4rem;
    color: dimgray;
}